<html lang="en">
<div class='toolbar' role="banner">
  <img
    width='80'
    alt='logo'
    src = {{logo}}
  />
  <span>Team Dipper</span>
  <div class='spacer'></div>
  <span>{{clock}}</span>
</div>

<body class="page">
<div class="content" role="main">
  <h1>{{title}}</h1>
  <img
    src = {{bigDipper}}
    width="800"
  />
  <section  class="slogan">
    <h2>{{slogan}}</h2>
  </section>

  <section class="bio">
    <p>{{bio}}</p>
  </section>
  <section class="flag">
    <img
      src = {{stateFlag}}
      width ="100"
    />
  </section>
</div>
</body>
</html>
